footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: 20px;
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons__img {
  width: 30px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 30px 0 30px;
  cursor: pointer;
}

.footer-icons__text {
  font-size: 10px;
  font-weight: bold;
  margin-top: 5px;
}
